{#
 * User: leo
 * Date: 23/03/17
 * Time: 20:50
#}

{% extends 'layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
<p>Page interface d'administration</p>
{% endblock %}