{#
 * User: leo
 * Date: 23/03/17
 * Time: 15:20
#}

{% extends 'layout.html.twig' %}

{% block title %}Page Article{% endblock %}

{% block content %}
<p>Ceci est le template de la page article</p>
{% endblock %}