<div class="comment mdl-color-text--grey-700">
    <header class="comment__header">
        <img src="../../web/img/user.png" class="comment__avatar">
        <div class="comment__author">
            <strong>{{ comment.author }}</strong>
            <span>{{ comment.dateAdd|date('d-m-Y \\à\\ H:i') }}</span>
        </div>
    </header>
    <div class="comment__text">{{ comment.content }}</div>
    <nav class="comment__actions">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">question_answer</i><span class="visuallyhidden">Répondre</span>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">report_problem</i><span class="visuallyhidden">Signaler</span>
        </button>
    </nav>
</div>