{#
 * User: leo
 * Date: 23/03/17
 * Time: 15:15
#}

{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <p>Ceci est la page d'accueil</p>
    <p>Voir l'interface d'administration : <a href="/web/index.php/admin">Cliquez ici</a></p>

    {% for article in articles %}
        <li><a href="{{ article.url }}">{{ article.title }}</a></li>
    {% endfor %}

{% endblock %}
