{#
 * User: leo
 * Date: 23/03/17
 * Time: 20:50
#}

{% extends 'layout_admin.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <h6 id="home-title">
            Bonjour {{ username.username }}
            <div id="datetime">Nous sommes le {{ 'now'|date('d.m.Y') }} et il est {{ 'now'|date('H:i') }}</div>
        </h6>
        <p><em>Mise à jour quotidienne des statistiques.</em></p>
        <div class="row">
            <div class="col s6">
                <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1KF3hCjYg9sH3fJ__kOjac_meU0_cuMqr_uFZPxPwrO8/pubchart?oid=1054481736&amp;format=interactive"></iframe>
            </div>
            <div class="col s6">
                <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1KF3hCjYg9sH3fJ__kOjac_meU0_cuMqr_uFZPxPwrO8/pubchart?oid=874242473&amp;format=interactive"></iframe>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col s6">
                <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1KF3hCjYg9sH3fJ__kOjac_meU0_cuMqr_uFZPxPwrO8/pubchart?oid=1043386445&amp;format=interactive"></iframe>
            </div>
            <div class="col s6">
                <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1KF3hCjYg9sH3fJ__kOjac_meU0_cuMqr_uFZPxPwrO8/pubchart?oid=86896186&amp;format=interactive"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
