{#
 * User: leo
 * Date: 23/03/17
 * Time: 15:05
#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Billet simple pour l'Alaska, un roman par Jean Forteroche">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Jean Forteroche - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="../../web/lib/materialize/css/material.grey-orange.min.css">
        <link rel="stylesheet" href="../../web/lib/materialize/css/materialize.min.css">
        <link href="../../web/css/layout.css" rel="stylesheet" />

    </head>

    <body>

        <div class="container">
            {% block content %}
            {% endblock %}



        </div>
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer--left-section">
                <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
                    <span class="visuallyhidden">Twitter</span>
                </button>
                <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger">
                    <span class="visuallyhidden">Facebook</span>
                </button>
                <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
                    <span class="visuallyhidden">Google Plus</span>
                </button>
            </div>
            <div class="mdl-mini-footer--right-section">
                <a href="/web/">Retour à l'accueil</a><br/>
                <a href="/web/index.php/admin/dashboard/">Page d'administration</a><br/>
                <a href="http://leogrambert.fr">Développement</a>
            </div>
        </footer>

        <script src="../../web/lib/jquery/jquery.min.js"></script>
        <script src="../../web/lib/materialize/js/materialize.min.js"></script>
        <script src="../../web/js/layout.js"></script>
        <script src="../../web/js/article.js"></script>
        <script src="../../web/js/comment.js"></script>
    </body>
</html>