{% extends 'layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/web/css/login.css">
    <div class="row" id="loginForm">
        <form method="post" action="" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="waves-effect waves-light btn orange accent-2">Connexion</button>
            </div>
        </form>
    </div>

{% endblock %}