{% extends 'layout_admin.html.twig' %}

{% block title %}Multimédia{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/web/css/pictures.css">
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col">
        <h6 class="title-form-gallery">Envoyez une image depuis votre ordinateur</h6>
        <form action="" id="form-pictures" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="file-field col s8">
                    <div class="btn waves-effect waves-light btn orange accent-2">
                        <span>Image</span>
                        <input type="file" name="picture" id="picture" class="validate" data-error="wrong" data-success="right" required/>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <button type="submit" id="send-picture" class="waves-effect waves-light btn orange accent-2">
                Envoyer
            </button>
        </form>
    </div>
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col">
        <h6 class="title-form-gallery">Envoyez une image depuis le web (copiez l'adresse de l'image)</h6>
        <form action="" id="form-pictures-url" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s8">
                    <label for="picture-url">URL de l'image à ajouter</label>
                    <input type="text" name="picture-url" id="picture-url" class="validate" data-error="wrong" data-success="right" required/>
                </div>
            </div>
            <button type="submit" id="send-picture-url" class="waves-effect waves-light btn orange accent-2">
                Envoyer
            </button>
        </form>
    </div>
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col" id="gallery">
        {% for img in allImg %}
            <a class="img" href="/web/img/upload/{{ img }}">
                <img src="/web/img/upload/{{ img }}">
            </a>
            <a class="delete" href="/web/index.php/admin/pictures/?n={{ img }}"><i class="material-icons">delete</i></a>

        {% endfor %}
    </div>
{% endblock %}