.mdl-card__media{
    height: 270px;
}

#back{
    top:2%;
    left:2%;
    position: fixed;
    z-index:50;
}
.commentReply{
    margin-left:5%;
}
.input-field label, .input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field textarea:focus:not([readonly]) + label {
    color: #7E7E7E;
}
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field textarea:focus:not([readonly]) + label {
    color: #FFAB40;
}
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field textarea:focus:not([readonly]), .input-field input[type=text].valid, .input-field input[type=email].valid, .input-field textarea:not([readonly]).valid {
    border-bottom: 1px solid #FFAB40;
    box-shadow: 0 1px 0 0 #FFAB40;
}
.input-field input[type=text].invalid, .input-field input[type=email].invalid, .input-field textarea.invalid {
    border-bottom: 1px solid #EB7077;
    box-shadow: 0 1px 0 0 #EB7077;
}
.demo-blog--blogpost .comments > form button{
    float: right;
    height: 50px;
    width: 50px;
}