.mdl-card__media{
    height: 270px;
}

#back{
    top:1%;
    left:1%;
    position: fixed;
    z-index:50;
}
.commentReply{
    margin-left:10%;
}
.input-field label, .input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field textarea:focus:not([readonly]) + label {
    color: #7E7E7E;
}
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field textarea:focus:not([readonly]) + label {
    color: #FFAB40;
}
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field textarea:focus:not([readonly]), .input-field input[type=text].valid, .input-field input[type=email].valid, .input-field textarea:not([readonly]).valid {
    border-bottom: 1px solid #FFAB40;
    box-shadow: 0 1px 0 0 #FFAB40;
}
.input-field input[type=text].invalid, .input-field input[type=email].invalid, .input-field textarea.invalid {
    border-bottom: 1px solid #EB7077;
    box-shadow: 0 1px 0 0 #EB7077;
}
.demo-blog--blogpost .comments > form button{
    float: right;
    height: 50px;
    width: 50px;
}
.share{
    cursor:pointer;
    position: absolute;
    right: 3%;
}
.shareWindow{
    position: relative;
    right: 1%;
    top: 0;
    font-size: 0.8em;
    background-color: #EEEEEE;
    padding: 1%;
    width: 40%;
    height: 60px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 1px 2px -1px rgba(0,0,0,.2);
    border-radius:2px;
}
.shareWindow input[type=text]:focus{
    border-bottom: 1px solid #FFAB40;
    box-shadow: 0 1px 0 0 #FFAB40;
}
#crossShare{
    top: 0;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.comment{
    margin:4% 4% 0 4%;
    padding:2%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFAB40;
    box-shadow: 0 1px 0 0 #FFAB40;
}
.commentBloc{
    margin : 10% 0 5% 0;
}
.administrator{
    background-color: #cfd8dc;
}